* {
    margin:0px; 
    padding:0px;
}

body{
    font-family: sans-serif;
        background-color: #1B2021;

}

.Caja{
    position: relative;
    top: 75px;
    left: 15px;
    width: 90%;
    max-width: 1000px;
    border: 10px solid #fff;
    line-height: 50px;
    font-size: 18px;
    margin: auto;
    transition-property: all;
    transition-duration: 2s;
    
}
.span{
    display: block;
    margin: auto;
    text-align: center;
    font-size: 35px;
    color: #fff;
}
.span1{
    font-size: 35px;
    color: #000000;
}
.span-for-centercontent{
    display: block;
    margin: auto;
    text-align: center;
}
.Caja>div{
    display: block;
    padding: 45px;
    color: #fff;
    background: #222644;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.25);
}
.Caja{
    display: grid;
    grid-template-columns: 1fr;
}
h1{
    text-align: center;
    font-family: sans-serif;
}
.Box2{
    width: 100%;
    height: 150vh;
    max-width: 1000px;
    position: relative;
    display: block;
    margin: auto;
    top: 75px;
    left: 15px;
    margin: auto;
    background: #fff;
    transition-property: all;
    transition-duration: 2s;
}
.boton{
    background:rgba(164,179,87,1);
    border-radius:15px;
    width:150px;
    height:40px;
    color:#fff;
    font-family:Century Gothic;
    margin-top:3px;
    margin-left:185px;
}


.Perros{
    position: relative;
    left: 75px;
    top: 7%;
    max-width: 35%;
     background-color: #ccc;
    padding: 15px;
    border-radius: 5px;


}
.text{
    text-align: justify-all;
}

.contenedor1{
    width: 915px;
    height: 40px;
    color: #ffffff;
    font-size: 40px;
    line-height: 40px;
    display: flex; 
    font-family: Helvetica;
    display: block;
    margin: auto;

    overflow: hidden;
}
.uledit{
    
    padding-left: 625px;
    animation: cambiar 5s infinite;
}
a{
    text-decoration: none;
    color: #000000;
}
ul, p{
    margin: 0;
}
@keyframes cambiar{
    
    0%{margin-top: 0;}
    20%{margin-top: 0;}
    
    25%{margin-top: -40px;}
    50%{margin-top: -40px;}
    
    55%{margin-top: -80px;}
    80%{margin-top: -80px;}
    
    85%{margin-top: -40px;}
    95%{margin-top: -40px;}
    
    100%{margin-top: 0;}
}
.Cat{
    position: relative;
    left: 600px;
    bottom: 385px;
    max-width: 35%;
    background-color: #ccc;
    padding: 15px;
    border-radius:5px ;
}
.Cat img{
    position: relative;
    margin: auto;
    display:block;
    width: 90%;
}
.divfooter{
    position: relative;
    top: 50px;
    left: -15px;
    border-radius: 5px;
    display: block;
    text-align: center;
    background: pink;
    line-height: 2.5em;
    width: 350px;
}
.divfootercat{
    position: relative;
    top: 50px;
    left: -15px;
    border-radius: 5px;
    display: block;
    text-align: center;
    background: pink;
    line-height: 2.5em;
    width: 350px;
}
.p8{
    text-align: center;
}
.fill__img{
    display: block;
    margin: auto;
     transition-property: all;
    transition-duration: 2s;
}
/*Da comienzo el footer*/
/*Se establece el Tamaño de footer= A toda la pantalla*/

footer{
    width: 100%;
    background: #202020;
    color: white;
    top: 100px;
    
}
/*Propiedades de todo el contenido del footer un width maximo de 1200 px por cala columna con un relleno de 40 px para hacer un poco de espaciado*/
.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin-top: 100px;
   /*Se centra automaticamente*/
    margin: auto;
    padding: 40px;
}

.container-body{
	/*Quita el estilo en forma de lista que aqdquiere en un principio y lo ordena por columna*/
    display: flex;
    /*Logra que haya un espaciado entre el contenido de el footere redes sociales|Informacionde compañia|contactos*/
    justify-content: space-between;
}

.colum1{
	/*Delimita el maximo de espacio que agarrara el texto es decir cuando llega a 400px habra un tipo de salto de linea*/
    max-width: 400px;
}

.colum1 h1{
	/*Tamaño de fuente*/
    font-size: 22px;
}

.colum1 p{
    font-size: 14px;
    /*Color de fuente*/
    color: #C7C7C7;
    /*Separa un poco el h1 del parrafo*/
    margin-top: 20px;
}

.colum2{
	/*Maxima espacio que ocupara la columna dos ya van 800px de los 1200*/
    max-width: 400px;
    
}

.colum2 h1{
	/*Tamaño de fuente*/
    font-size: 22px;
}

.row{
	/*Div que contiene las imagenes de nuestras redes sociales*/
    margin-top: 20px;
 /*Deja un espaciado entres todas nuestras imagenes*/
    display: flex;
}

.row img{
	/*Ancoho y alto de nuestras imagenes*/
    width: 36px;
    height: 36px;
}

.row label{
	/*Nuestro contenedor de texto establecemos el color de la fuente y el espaciado izquierdo y de arriba que dejara*/
    margin-top: 10px;
    /*Espaciado de las imagenes y el texto */
    margin-left: 20px;
    color: #C7C7C7;
}

.colum3{
	/*Con la columana tres ya se llena el total del footer que es 1200px todas la columnas son de 400px*/
	/*Se puede expresar con 75em ya que 1 em 16px*/
    max-width: 400px;
}

.colum3 h1{
	/*Tamaño*/
    font-size: 22px;
}

.row2{
	
    margin-top: 20px;/*Se ordenan todos los elementos*/
    display: flex;
}

.row2 img{/*Tamaño de las imagenes*/
    width: 36px;
    height: 36px;
}

.row2 label{
    margin-top: 0px;/*Se hacen mas hacia abajo*/
    margin-left: 25px;/*dejan un espaciaod entre la imagenes de contacto y el texto*/
    
}

.container-footer{/*Se actualiza el bg de el espacio donde estan los terminos y condiciones y derechos reservados*/
    width: 100%;  
    background: #101010;/*Color gris tonalidad oscura*/
}
/*Se ponen todos los elementos del subfooter de terminos y condiciones con sus respectivas propiedades*/
.footer{
    max-width: 1200px;
    /*Se centran*/
    margin: auto;
    margin-top: 75px;
    /*Con este elemento se empieza a jugar con el bloque de derecho reservados*/
    display: flex;
    /*Se deja un espacio entre los dos textos*/
    justify-content: space-between;  
    /*Total del relleno del subfooter*/
    padding: 20px;
}
/*Color de fuente*/
.copy{
    color: #C7C7C7;
}
/*Se elminan todos los hipervinculos o el subrayado de los hipervinculos*/
.copy a{
    text-decoration: none;
    color: white;
    /*Se le agrega negirta al nombre saving Lifes*/
    font-weight: bold;
}
/*Se eliminan los subrayados de hipervinculo de la politica y privacidad*/
.information a{
    text-decoration: none;
    color: #C7C7C7;
}

/*Se hace responsive o un poco adaptabel "Aun falta adaptarlo mejor" mucho mejor xdxd*/
@media screen and (max-width: 1100px){
    
    .container-body{
        flex-wrap: wrap;
    }    
    ul.nav{
        flex-wrap: wrap;
    }
    .header{
        flex-wrap: wrap;
        max-width: 100%;
    }
    .Box2{
        flex: wrap;
        max-width: 100%;
    }
    .colum1{
        max-width: 100%;
    }
    
    .colum2,
    .colum3{
        margin-top: 40px;
    }
      Perros{
        flex: wrap;
        max-width: 100%;
    }
      .Gatos{
        flex: wrap;
        max-width: 100%;
        position: relative;
        left: 0%;
    }
    .header{
        width: 90%;
    }
}

