body{
    background-color: #1B2021
}
.tabla1{
    background-color: #8e7dbe;
    color: white;
    font-family: 'Quicksand', sans-serif;
    margin: 30px auto;
    border-collapse: collapse;
}

.button{
    color: white;
    background-color: #8e7dbe;
    border: none;
	padding: 10px 20px;
    font-family: 'Quicksand', sans-serif;
    cursor:pointer;
    font-size: 15px;
}

.form{
        text-align: center;

}

.ver{
    
    text-decoration: none;
    color: #1B2021;
}

.uno{
    background-color: #8e7dbe;
    padding: 10px;
    color: white;
    text-align: center;
    padding: 15px;

}

.uno:hover{
    background-color: #7860bb;
    padding: 10px;
    color: white;
    text-align: center;
    padding: 15px;

}

.dos{
    background-color: white;
    margin: 10px;
    padding: 10px;
    color: #1B2021;
    text-align: center;
    padding: 15px;


}

.dos:hover{
    background-color: rgb(224, 224, 224);
    margin: 10px;
    padding: 10px;
    color: #1B2021;
    text-align: center;
    padding: 15px;


}
.tres{
    background-color: white;
    margin: 10px;
    padding: 10px;
    color: #1B2021;
    text-align: center;
    padding: 15px;


}

.button:hover{
    color: white;
    background-color: #7860bb;
    border: none;
	padding: 10px 20px;
    font-family: 'Quicksand', sans-serif;
    cursor:pointer;
    font-size: 15px;

}

h1{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 40px;
    color: white;
}